.dashboard {
    display: flex;
    color: #fff;
    font-family: 'Inter', sans-serif;
    background-color: #333; /* Black background for the dashboard */
  }
  
  .dashboard-main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
  }
  