/* Sidebar.css */
.sidebar {
    width: 150px; /* Adjusted width */
    height: 100vh;
    background-color: #000;
    color: #FFF;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto; /* Added scrollbar */
  }
  
  .sidebar-logo-container {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .sidebar-logo {
    max-width: 100%;
    height: auto;
    padding: 1.5rem 0rem;
  }
  
  .sidebar-menu {
    width: 100%;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between icon and text */
    padding: 0.5rem 0.2rem; /* Adjusted padding */
    text-decoration: none;
    color: #FFF;
    font-size: 1rem; /* Adjusted font size */
    width: 100%; /* Full width to the sidebar */
    border-left: 3px solid transparent;
    transition: color 0.3s ease;
  }
  
  .sidebar-item:hover {
    /* background-color: #1A1A1A; */
    /* border-left: 3px solid orange; */
    color: #FF90E8; /* Pink color on hover/active */

    cursor: pointer;
  }
  
  .sidebar-separator {
    width: 120%;
    height: 1px;
    background-color: #888; /* Color for the separator */
    margin: 0.5rem 0;
  }

  .sidebar-item-blank {
    height: 25px; /* or the height of your other sidebar items */
    margin: 8px 0; /* optional: if you want to add some margin */
  }

  .sidebar-item-blank_2 {
    height: 50px; /* or the height of your other sidebar items */
    margin: 8px 0; /* optional: if you want to add some margin */
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      height: auto;
      flex-direction: row;
      padding: 0;
    }
  
    .sidebar-logo-container {
      display: none; /* Hide logo on smaller screens */
    }
  
    .sidebar-menu {
      flex-direction: row;
      align-items: center;
      justify-content: center;
      overflow-x: auto;
    }
  
    .sidebar-item {
      padding: 1rem; /* Adjust padding for small screen */
    }
  
    .sidebar-separator {
      display: none; /* Hide separators on small screens */
    }
  }
  